
  <h1>Mes compétences</h1>

  <div class="competences">
    <div>
      <h2>Compétences techniques</h2>
      <%= render "pages/competences/carousel_techniques"%>
    </div>
    <div>
      <h2>Gestions de projets</h2>
      <%= render "pages/competences/carousel_projets"%>
    </div>
    <div>
      <h2>Compétences redation d'articles & SEO </h2>
      <%= render "pages/competences/carousel_seo"%>
    </div>
  </div>
