 <div class="infos-card">
    <h1>Contact </h1>
    <%= image_tag "linkedin.png"%>
    <%= link_to "https://www.linkedin.com/in/alice-bernaud-30aaa488/" %>
    <%= link_to "Envoyer un email" %>
  </div>
</div>
