<div class="conteneur-2">
    <div>
    <h1>Mes expériences professionnelles</h1>
      <h2>Chef de projet chez DataOnDemand</h2>
    </div>
    <div class="infos-card">
    <h1>Mes formations</h1>
    </div>
  </div>
