<main>
<div>
  <h1> Alice Bernaud <h1>

  <h3>Ma passion pour la technologie et ma forte expérience dans la gestion de projet m'ont amenée à suivre une formation en développement web, élargissant ainsi mes compétences techniques afin de prétendre aujourd'hui à un poste de Product Owner ou Product Manager </h3>

 <div class="infos-card">
    <div>
      <h2>Mes compétences</h2>
    </div>
    <div id="skillsCarousel">
      <p>Compétences techniques</p>


        <div >
          <h2>Ruby</h2>
          <p>J'ai commencé le code par Ruby et je vous cache pas qu'au début je ne comprenais rien </p>
        </div>


      <section>
        <div>
          <h2>Ruby on Rails</h2>
        </div>
      </section>

      <section>
        <div>
          <h2>Javascript</h2>
        </div>
      </section>

      <section>
        <div>
          <h2>SQL</h2>
        </div>
      </section>
    </div>
  </div>

  <div class="infos-card">
  <div>
    <h2>Mes expériences professionnelles</h2>
  </div>
  <div>
    <p>Chef de projet chez DataOnDemand</p>
  </div>
  </div>

  <div class="infos-card">
    <h2>Mes formations</h2>
  </div>

  <div class="infos-card">
    <h2>Mes réalisations </h2>
  </div>

  <div class="infos-card">
    <h2>Contact </h2>
    <%= image_tag "linkedin.png"%>
    <%= link_to "https://www.linkedin.com/in/alice-bernaud-30aaa488/" %>
    <%= link_to "Envoyer un email" %>
  </div>
</div>
</main>
