// #skillsCarousel {

//   .carousel-item {
//     height: 520px;
//     padding: 8px;
//   }

//   p {
//     padding: 8px;
//   }

// }

// @media screen and (max-width: 992px) {
//   #skillsCarousel {
//     .carousel-item {
//       height: 480px;
//     }

//     p {
//       font-size: 12px;
//     }

//   }
// }

.card-indicator {
  width: 10px !important;
  height: 10px !important;
  pointer-events: none;
}

.custom{
  max-width: 400px;
  max-height: 400px;
}

.custom-annexe {
  height: 300px;
}
