#skillCarousel {
  height: 600px;
  .carousel-inner:hover {
    img {
      // animation: rotate 1s ease-in-out infinite;
      width: 100px;
      height: 100px;
    }
  }
}

  .carousel-item {
    position: relative;
    padding: 8px;
    transition: none;


  p {
    padding: 8px;
  }

  img{
    width: 100px;
    height: 100px;
  }

}
.carousel-item :active{
  height: 150px;
  padding: 8px;
  transition: none;


p {
  padding: 8px;
}

img{
  width: 150px;
  height: 150px;
}

}

@media screen and (max-width: 992px) {
  #skillsCarousel {
    .carousel-item {
      height: 480px;
    }

    p {
      font-size: 12px;
    }

  }
}
