.competences {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  border: 1px solid black ;

}


.sous-competences{
  border: 1px solid black ;
  height: 600px;
}
