<div id="skillsCarousel" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner">

      <div class="carousel-item active ">
        <h3>Ruby</h3>
        <%= image_tag("Ruby_logo.svg.png", alt:"logo-ruby")%>
        <p>J'ai commencé le code par Ruby et je vous cache pas qu'au début je ne comprenais rien </p>
      </div>

      <div class="carousel-item ">
        <h3>Ruby on Rails</h3>
        <%= image_tag("logo-rails.png", alt:"logo-ruby")%>
        <p>Ruby on Rails a été un déclique tout de suite les briques se sont assemblé et j'ai compris toutes les fonctionnalités utilisées dans Ruby jusqu'à présent.</p>
      </div>

      <div class="carousel-item">
        <h3>Javascript</h3>
        <%= image_tag("logo-js.svg.png", alt:"logo-ruby")%>
        <p>Javascript est le champs des possibles. A la fois un o </p>
      </div>

      <div class="carousel-item ">
        <h3>SQL</h3>
        <%= image_tag("sql-logo.png", alt:"logo-ruby")%>
      </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#skillsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#skillsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>

</div>
