<div id="skillsCarousel" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner">
     <div class="carousel-item active ">
        <h3>Ruby</h3>
        <%= image_tag("Ruby_logo.svg.png", alt:"logo-ruby")%>
        <p>Récemment, j'ai plongé dans le monde fascinant de la programmation en découvrant le langage Ruby. Mes premiers pas dans l'univers de Ruby ont été à la fois effrayants et excitants. </p>
      </div>

      <div class="carousel-item ">
        <h3>Ruby on Rails</h3>
        <%= image_tag("logo-rails.png", alt:"logo-ruby")%>
        <p>Bien que mes premiers pas dans le monde de la programmation avec Ruby aient été passionnants, c'est lorsque j'ai découvert Ruby on Rails que tout a pris un sens concret et que tout est devenu incroyablement plus simple. Rails a été la révélation qui a transformé mes projets de programmation en expériences fluides et efficaces. </p>
      </div>

      <div class="carousel-item">
        <h3>Javascript</h3>
        <%= image_tag("logo-js.svg.png", alt:"logo-ruby")%>
        <p>Découvrir JavaScript en parallèle avec Ruby a été une expérience véritablement transformative. Ce langage dynamique et polyvalent a ouvert un tout nouveau champ des possibles pour moi dans le monde du développement web. La flexibilité de JavaScript m'a permis d'explorer des concepts avancés tels que les applications interactives, les animations et les fonctionnalités en temps réel.  La capacité de JavaScript à s'intégrer harmonieusement avec le HTML et le CSS a élargi mes horizons et m'a donné la liberté de concevoir des sites web dynamiques et réactifs. </p>
      </div>

      <div class="carousel-item ">
        <h3>SQL</h3>
        <%= image_tag("sql-logo.png", alt:"logo-ruby")%>
        <p>Avant même de plonger dans le monde du développement web avec Ruby et JavaScript, j'avais déjà une certaine familiarité avec SQL. Grâce à SQL, j'ai pu comprendre les intrications des bases de données relationnelles et les requêtes complexes. La capacité à manipuler et à interroger des bases de données a été un atout précieux, me permettant de créer des systèmes de gestion de données efficaces et fiables.</p>
      </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#skillsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#skillsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>

</div>
